@font-face {
    font-family: 'fundly-icons';
    src:    url('fonts/fundly-icons.eot?ci2d11');
    src:    url('fonts/fundly-icons.eot?ci2d11#iefix') format('embedded-opentype'),
        url('fonts/fundly-icons.ttf?ci2d11') format('truetype'),
        url('fonts/fundly-icons.woff?ci2d11') format('woff'),
        url('fonts/fundly-icons.svg?ci2d11#fundly-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fundly-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lgbt:before {
    content: "\f0c0";
}
.icon-animal:before {
    content: "\e600";
}
.icon-arts:before {
    content: "\e601";
}
.icon-children:before {
    content: "\e602";
}
.icon-church:before {
    content: "\e603";
}
.icon-community:before {
    content: "\e604";
}
.icon-education:before {
    content: "\e605";
}
.icon-greek:before {
    content: "\e606";
}
.icon-health:before {
    content: "\e607";
}
.icon-location:before {
    content: "\e608";
}
.icon-logo-heart:before {
    content: "\e609";
}
.icon-logo-knockout:before {
    content: "\e60a";
}
.icon-memorial:before {
    content: "\e60b";
}
.icon-military:before {
    content: "\e60c";
}
.icon-non-profit:before {
    content: "\e60d";
}
.icon-other:before {
    content: "\e60e";
}
.icon-political:before {
    content: "\e60f";
}
.icon-run-walk-ride:before {
    content: "\e610";
}
.icon-sports:before {
    content: "\e611";
}
.icon-trips:before {
    content: "\e612";
}
.icon-whats-app:before {
    content: "\e613";
}

